.card-set{
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-set__item{
  flex-basis: calc(100%/3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid rgba(238, 238, 238, 1);


    &:hover{
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    } 
}


.card-set__wrapper{
  padding: 20px 24px;
}

.card-set__title{
  margin-bottom: 4px; 
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set__text{
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.88;
}