/* Overlay на карточке товара */

.portfolio-thumb{
  position: relative;
  overflow: hidden;
}

.portfolio-overlay{
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
    .card-set__item:hover &{
      transform: translateY(-100%);
    }
}

.portfolio-overlay__text{
  color: $white-color;
  font-size: 18px;
  line-height: 1.56;
}