/* FORM */

.form{
  width: 100%;
  height: 100%;
  padding: 40px;
}

.form__title{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.form-list__item{
  margin-bottom: 28px;
}

.form-list__field{
  position: relative;
  display: block;
}

.form-list__label{
  position: absolute;
  left: 0;
  bottom: calc(100% + 4px);
}

.form-list__input{
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2) ;  
  border-radius: 4px;
  outline: none;
  cursor: pointer;


    &:focus{
      border:  1px solid $accent-color ;
    }
}

.form-list__icon{
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  transform: translateY(-50%);
}

.form-list__field:focus-within .form-list__icon{
  fill: $accent-color;
}

/* Textarea */

.textarea{
  display: block;
  margin-top: -18px;
  margin-bottom: 20px;
}

.textarea__lable{
  display: block;
  margin-bottom: 4px;
}

.textarea__comments{
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;


    &:focus{
      border: 1px solid $accent-color;
    }

    &::placeholder { 
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
    }
}

/* Check-Box */

.checkbox{
  display: flex;
  align-items: center;
}

.checkbox__icon{
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 14px;
  margin-right: 8px;
  border: 2px solid $primery-text-color;
  border-radius: 2px;
  cursor: pointer;


  .checkbox__input:checked  + &{
    border-color: $accent-color;
    background-color: $accent-color;
    background-size: contain;
    background-origin: border-box;
    background-image: url(../images/icon-check.svg);
  }

  .checkbox__input:focus + &{
    box-shadow: 0 0 0 0.1em #7c7e7c ;
  }
}

.checkbox__label{
  line-height: 1.71;
  margin-right: 8px;
}

.checkbox__link{
  color: $accent-color;
  line-height: 1.71;
}

.checkbox__input{
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Form Button */

.form-button{
  display: block;
  color: $white-color;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.88;
  background-color: $accent-color;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: 0 auto;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus{
      background-color: #188CE8;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}