// .hero {
//   padding-top: 200px;
//   padding-bottom: 200px;
//   text-align: center;
// }


.hero {
  text-align: center;


  @media screen and(max-width:1199px){
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and(min-width:1200px){
    padding-top: 200px;
    padding-bottom: 200px;
  }
}