// Menu-container

.menu-container{
  @media screen and(max-width:767px){
    position: absolute;
    top: 100%;
    left: 0;
    padding: 48px 40px;
    width: 100%;
    display: none;
    background-color: $white-color;
    z-index: 1;
    

  }
    
  &.is-open{
    @media screen and(max-width:767px){
      display: block;

    }
  }

  @media screen and(min-width:768px){
    display: flex;
  }
}