.mobile-social-list{
  display: none;

  @media screen and(max-width:767px){
    display: flex;

  }
}


.mobile-social-list__item{
  margin-right: 20px;
  margin-top: 64px;

  &:last-child{
    margin-right: 0;
    
  }
}

.mobile-social-list__link{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: $accent-color
}