/* Subscription Form */

.subscription{
  margin-top: 12px;
  margin-left: 93px;
}

.subscription__title{
  color: $white-color;
  font-weight: 700;
  line-height: 1.17;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subscription__input{
  color: $white-color;
  width: 358px;
  padding: 15px;
  margin-right: 12px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  cursor: pointer;


    &::placeholder{
      color: rgba(255, 255, 255, 0.6);
      line-height: 1.25;
    }
}



.button-subscription{
 @include centered($type: inline-flex, $content: space-between);

  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  padding: 10px  28px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;


    &:hover,
    &:focus{
      background-color: #188CE8;
    } 
}

