$primery-text-color: #212121;
$secondary-text-color:#757575;
$accent-color:#2196f3;
$white-color:#ffffff;
$icon-color:#AFB1B8;
$icon-color-footer:#ffffff;
$icon-color-hover:#ffffff;
$icon-color-client-hover:#2196f3;
$icon-background-hover:#2196f3;